[flake8]

max-line-length = 160

# Whether to display the pep8 instructions on failure (can be quite verbose)
show-pep8 = False

# Whether to show source code for each failure
show-source = True

# Maximum cyclomatic complexity allowed
max-complexity = 18

format = pylint

exclude = .git,__pycache__

ignore = \
  # imported but unused
  F401, \
  # 'from module import *' used; unable to detect undefined names
  F403, \
  # Name may be undefined, or defined from star import
  F405, \
  # line break before binary operator
  W503
