colorama>=0.4.1
itk
matplotlib
monai-deploy-app-sdk
monai[skimage,tqdm,pillow,ignite,gdown,nibabel,transformers]
networkx>=2.4
numpy>=1.21.2,<1.23.0
pandas
pip
setuptools
torch==1.12.1
typeguard>=2.12.1
wheel
